<div class="navigation-item"><a href="{{ path('profile_page', {'id': pageUser.id }) }}"><i class="fi-torso fi-left"></i> Мой профиль</a></div>
<div class="navigation-item"><a href="{{ path('show_comment', {'id': pageUser.id }) }}">Мои отзывы</a></div>
<div class="navigation-item"><a href="{{ path('edit-profile', {'id': pageUser.id }) }}"><i class="fi-widget fi-left"></i>Настройки</a></div>
<div class="navigation-item"><a href="{{ path('history_issuance') }}">История взятых книг</a></div>
<div class="navigation-item"><a href="{{ path('taken_book') }}"><i class="fi-book fi-left"></i>Книги у меня</a></div>
<div class="navigation-item"><a href="{{ path('liked_books') }}"><i class="fi-book-bookmark fi-left"></i>Понравившиеся книги</a></div>
<div class="navigation-item"><a href="{{ path('readed_book') }}">Прочитанные книги</a></div>