{% extends 'base.html.twig' %}

{% block main %}
<div class="grid-container">
    <div class="grid-x grid-padding cell">
        <div class="small-12 cell">
            {{ include('profile/_breadcrumbs.html.twig', {
                'path': 'profile_page',
                'section': 'Профиль',
                'entity': user,
                'entityId': user.id,
                'ditailedPage': user.username,
                'currentPage': 'История заказов'}) }}
        </div>
        {{ include('profile/_aside.html.twig', {'pageUser': user }) }}
        <div class="small-12 medium-12 large-9 cell">
            <div class="grid-container">
                <div class="grid-x grid-padding-x cell">
                    <div class="small-12 cell">
                        <h2 class="text-center">История заказов</h2>

                        <div class="grid-container">
                            <div id="showBooks" class="grid-x grid-padding cell">
                                {{ include('profile/_history-issuance.html.twig', {'issuances':  takenBooks}) }}
                            </div>
                        </div>
                        <p id="showMore" class="button" data-userId="{{ user.id }}" data-page="{{ page }}">Показать
                            еще</p>
                        <p id="error" class="error-not-found not-found-animate"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}