{% extends 'layout/profile.html.twig' %}

{% block breadcrumbs %}
    {{ include('profile/_breadcrumbs.html.twig', {
        'path': 'profile_page',
        'section': 'Профиль',
        'entity': pageUser,
        'entityId': pageUser.id,
        'ditailedPage': pageUser.username,
        'currentPage': 'Выши отзывы'}) }}
{% endblock %}

{% block mainContent %}
    <div class="small-6 cell">
        <h6>{{ pageUser.username }}</h6>
        <div class="reveal" id="uploadImage" data-reveal data-reset-on-close="true" data-animation-in="fade-in"
             data-animation-out="fade-out">
            <h3>Выбор фотографии пользователя.</h3>

            <div class="file-upload">
                <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

                <div class="image-upload-wrap">
                    <input class="file-upload-input" type='file' onchange="readURLS(this);" accept="image/*" />
                    <div class="drag-text">
                        <h3>Drag and drop a file or select add Image</h3>
                    </div>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                    </div>
                </div>
            </div>

            {{ form_start(avatarEdit) }}
            {{ form_widget(avatarEdit.avatar) }}
            <img src="" data-show-preview="avatar" alt="">
            {{ form_widget(avatarEdit.submit) }}
            {{ form_end(avatarEdit) }}
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal" id="deleteAvatarModal" data-reveal data-reset-on-close="true" data-animation-in="fade-in" data-animation-out="fade-out">
            <h1>Предупреждение!</h1>
            <p class="lead">Вы действительно хотите удалить изображение?</p>
            <button id="deleteAvatar" class="button" data-close aria-label="Close modal" type="button" data-user="{{ pageUser.id }}">Да</button>
            <button class="button" data-close aria-label="Close modal" type="button">Отмена</button>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="profile-avatar">
            {% if pageUser.avatar|length == 0 %}
                <div class="profile-avatar-image">
                    <img data-open="uploadImage"
                         src="{{ constant('App\\Entity\\User::DEFAULT_AVATAR') }}"
                         alt="default avatar">
                </div>
                <p class="profile-upload">Загрузите аватар</p>
            {% else %}
                <p class="" data-open="deleteAvatarModal"><i class="fi-x"></i></p>
                <div class="profile-avatar-image">

                    <div class="reveal" id="showImage" data-reveal data-reset-on-close="true" data-animation-in="fade-in" data-animation-out="fade-out">
                        <img data-open="showImage" src="{{ pageUser.avatar }}" alt="avatar">
                        <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <img data-open="showImage" src="{{ pageUser.avatar }}" alt="avatar">
                </div>
                <div class="hover-menu">
                    <a href="" data-open="uploadImage">Изменить аватарку</a>
                </div>
            {% endif %}
        </div>

    </div>
    <div class="small-12">
        <h2 class="text-center">История книг</h2>
        <div class="grid-container">
            <div class="grid-x grid-padding-x cell">
                {{ include('profile/_history-issuance.html.twig', {'issuances': userBooks} ) }}
            </div>
        </div>
    </div>
{% endblock %}
