{% extends 'base.html.twig' %}

{% block main %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="large-4 cell">
                <img src="{{ bookCopy.imagePath }}" alt="">
            </div>
            <div class="large-8 cell">
                {{ (path('comment')) }}
                <h2>{{ bookCopy.book.name }}</h2>
                <p>Описание: {{ bookCopy.book.description }}</p>
                <p>ISBN: {{ bookCopy.book.isbn }}</p>
                <p>Количество страниц: {{ bookCopy.book.pageNumber }}</p>
                <p>Год публикации: {{ bookCopy.book.publicationYear }}</p>

                <hr>
                <div id="results">вывод</div>

                {% for comment in comments %}
                    <p>{{ comment.text }}</p>
                    <hr>
                {% else %}
                    <p>Комменты не найдены</p>
                {% endfor %}
                <div>
                    {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
                    {#{{ render(controller('App\\Controller\\CatalogController:ratingForm', {'id': book.id})) }}#}
                    {#{{ render(controller('App\\Controller\\CatalogController:commentForm', {'id': book.id})) }}#}
                    {#{% else %}#}
                    {#<p><a href="{{ path('login') }}">#}
                    {#<button class="button">Войти</button>#}
                    {#</a> и оставить отзыв и оценить книгу#}
                    {#</p>#}
                    {#{% endif %}#}
                    {{ form_start(form, {'attr': {
                        'id': 'formx',
                        'method': 'POST',
                        'action': 'javascript:void(null);'
                    }}) }}
                    {#{{ form_row(form.text) }}#}
                    {#{{ form_row(form.comment) }}#}
                    {#{{ form_widget(form) }}#}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" language="JavaScript">
        $("#formx").submit(function (e) {
            let formURL = "{{ path('comment') }}";
            let formData = new FormData(this);
            $.ajax({
                url: formURL,
                type: 'POST',
                data: formData,
                mimeType: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                success: function (data, textStatus, jqXHR) {

                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
            e.preventDefault(); //Prevent Default action.
            // e.unbind();
        });
    </script>
{% endblock %}
