{% extends 'layout/security-layout.html.twig' %}

{% block form %}
    <div class="container">
        <div class="login-form">
            <h4>Регистрация</h4>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            {{ form_row(form.avatar) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
            <p class="text-center"><a href="{{ path('login') }}">Вход</a></p>
        </div>
        <div class="login-bottom">
            <p class="text-center"ф><a href="{{ path('homepage') }}">Вернуться на сервис</a></p> </div>
    </div>
{% endblock %}