{% extends 'layout/security-layout.html.twig' %}

{% block form %}
    <div class="container">
        <div class="container-card">
            <p><a href="{{ path('homepage') }}">Главная</a></p>
            <p><a href="{{ path('login') }}">Войти</a></p>
            <h4>Регистрация</h4>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            {{ form_row(form.avatar) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}