{% block footer %}
    {{ include('layout/footer.html.twig') }}
    {% block javascripts %}
        {#<script src="{{ asset('js/vendor/jquery-2.1.1.js') }}"></script>#}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <script src="{{ asset('js/catalog.js') }}"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
        {#<script src="{{ asset('js/vendor/jquery.min.js') }}" type="text/javascript"></script>#}
        {#<script src="{{ asset('js/vendor/jquery.js') }}"></script>#}
        <script src="{{ asset('js/vendor/jquery.cookie.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/vendor/what-input.js') }}"></script>
        <script src="{{ asset('js/vendor/foundation.js') }}"></script>
        <script src="{{ asset('js/vendor/motion-ui.js') }}"></script>
        {#<script src="{{ asset('js/vendor/underscore.min.js') }}"></script>#}
        {#<script src="{{ asset('js/vendor/jquery.autocomplete.js') }}"></script>#}
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="{{ asset('js/vendor/jquery.raty.js') }}"></script>
    {% endblock %}
{% endblock %}
</body>
