{{ form_start(form, {attr: attr|default({})}) }}
                {{ form_row(form.book.name) }}
                {{ form_row(form.book.description ) }}
                {{ form_row(form.book.publicationYear ) }}
                {{ form_row(form.book.pageNumber ) }}
                {{ form_row(form.book.isbn) }}
                {{ form_row(form.count) }}
                {{ form_row(form.imagePath) }}
                {{ form_row(form.filePath) }}
                {{ form_widget(form) }}

<button type="submit" class="{{ button_css|default("btn btn-primary") }}">
    <button type="submit" class="button">
        <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('save changes'|trans) }}
    </button>
</button>
<a href="{{ path('admin_show_book') }}">Назад</a>
{{ form_end(form) }}
