{% extends 'layout/page.html.twig' %}

 {% block breadcrumbs %}
     {{ include('profile/_breadcrumbs.html.twig', {
         'path': 'admin_page',
         'section': 'Админка',
         'entityId': '',
         'entity': 'а',
         'ditailedPage': 'Администрирование книг',
         'currentPage': ''}) }}
 {% endblock %}

{% block content %}
    <div class="small-12 cell">
        <a href="{{ path('book_new') }}">
            <button class="button">Создать книгу</button>
        </a>
        {#<a href="{{ path('new_book_author') }}">#}
            {#<button class="button">Создать автора книги</button>#}
        {#</a>#}
        {#<a href="{{ path('new_genre') }}">#}
            {#<button class="button">Добавить жанр</button>#}
        {#</a>#}
    </div>
    <div class="small-12 cell">
        <table class="table">
            <thead>
            <tr>
                <th data-property-name="active" class="  boolean ">
                    Назавние
                </th>
                <th data-property-name="id" class="sorted  integer ">
                    <i class="fi-calendar"></i>   Добавлено
                </th>
                <th><i class="fi-widget"></i> Действие</th>
            </tr>
            </thead>
            <tbody>
            {% for bookCopy in books %}
                <tr>
                    <td><a href="{{ path('catalog_show', {'id': bookCopy.id}) }}">{{ bookCopy.book.name }}</a></td>
                    <td>{{ bookCopy.uploadDate|date('d M y h:m:s') }}</td>
                    <td>
                        <a href="{{ path('book_edit', { 'id': bookCopy.id}) }}"><i
                                    class="fi-page-edit font-size-24"></i>   Изменить</a>
                        <form action="{{ path('book_delete', { id: bookCopy.Id }) }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
                            <button type="submit"><i class="fi-page-delete font-size-24"></i>   Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}