{% block comment %}
    <hr>
    {% for comment in comments %}
        <div class="media-object">
            {% if profilePage == 'true' %}
                <div class="media-object-section">
                    <div class="thumbnail"><img class="small-image"
                                                src="/{{ comment.bookCopy.imagePath }}">
                    </div>
                </div>
            {% endif %}

            <div class="media-object-section main-section">
                {% if profilePage == 'true' %}
                    <h4>
                        <a href="{{ path('catalog_show', {'id': comment.bookCopy.id}) }}">
                            {{ comment.bookCopy.book.name }}
                        </a>
                    </h4>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <a class="small" href="{{ path('profile_page', {'id': comment.author.id}) }}">
                        {{ comment.author.username }}
                    </a>
                {% else %}
                    <span class="">Админ</span>
                {% endif %}
                <p>{{ comment.text|length > 40 ? comment.text|slice(0, 40) ~ '...' : comment.text }}</p>
                <time>{{ comment.date|date("d M Y h:m", "Europe/Paris")|trans }}</time>
            </div>
        </div>
    {% else %}
        <p>{{ nullMessage }}</p>
    {% endfor %}
{% endblock %}