{% block comment %}
    {% for comment in comments %}
        <div class="media-object">
            <div class="media-object-section">
                <span class="small"> {{ comment.author.username }}:</span>

                {% if profilePage == 'true' %}
                    <img class="sm-image" src="/{{ comment.bookCopy.imagePath }}">
                {% endif %}
                <p class="main-section-content">
                    <time>{{ comment.date|date("d M Y h:m", "Europe/Paris")|trans }}</time>
                </p>
            </div>
            <div class="media-object-section main-section">
                <h6 class="main-section-title">
                    {% if profilePage == 'true' %}
                        <h4>
                            <a href="{{ path('catalog_show', {'id': comment.bookCopy.id}) }}">
                                {{ comment.bookCopy.book.name }}
                            </a>
                        </h4>
                    {% endif %}
                </h6>
                <p>{% if is_granted('ROLE_USER') %}
                        {#{% if profilePage == 'true' %}#}
                            {#<span class="small"> {{ comment.author.username }}:</span>#}
                        {#{% endif %}#}
                    {% else %}
                        <span class="">Админ</span>
                    {% endif %}
                    <span>"{{ comment.text|length > 40 ? comment.text|slice(0, 40) ~ '...' : comment.text }}
                        "</span>
                </p>
            </div>
        </div>
    {% else %}
        <p>{{ nullMessage }}</p>
    {% endfor %}
{% endblock %}