<h3>{{ bookCopy.book.name }}</h3>
<div>
    {% if is_granted('ROLE_USER') %}
        <ul class="book-stats">
            <li class="book-stats-item"><a href="">{{ bookCopy.comments|length }} отзывов</a></li>
            <li class="book-stats-item"> <span id="like" data-bookCopyId="{{ bookCopy.id }}"><i
                            class="fi-heart fi-size-18 like"></i><span
                            id="countLike">{% for like in countLike %}
                {{ like.countLike }}
            {% endfor %}</span>
            </span></li>
            <li class="book-stats-item"> <span id="readedBook" data-bookCopyId="{{ bookCopy.id }}">
                <i class="{% if isReadedBookCopy %} readed {% endif %} fi-book fi-size-18 like"></i></span>
            </li>
            <li class="book-stats-item"> {% if bookRated == false %}
                    <span id="bookRating"></span>
                {% endif %}</li>
            <li class="book-stats-item"><span>Рейтинг: {{ average }}</span></li>
        </ul>
        {#<a href="{{ path('liked_books') }}">Избранные</a>#}
    {% endif %}
</div>
<p>ISBN: {{ bookCopy.book.isbn }}</p>
<p>Количество страниц: {{ bookCopy.book.pageNumber }}</p>
<p>Год публикации: {{ bookCopy.book.publicationYear }}</p>

{{ include('catalog/_show-name.html.twig', {title: 'Авторы', entities: bookCopy.book.authorsBook}) }}
{{ include('catalog/_show-name.html.twig', {title: 'Теги', entities: bookCopy.book.tags, icon: 'fi-price-tag'}) }}
{{ include('catalog/_show-name.html.twig', {title: 'Жанры', entities: bookCopy.book.genresBook}) }}

{% if bookCopy.filePath|length > 4 %}
    <p><a href="{{ path('download_book_file', { 'id': bookCopy.id }) }}"><span><i class="fi-list-size fi-download"></i> Скачать pdf</span></a>
    </p>
{% endif %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if is_granted('ROLE_USER') %}
        <p id="showMessage" class="hide"></p>
        {% if existFreeBooks and isUserHasBooks != true %}
            <input type="button" class="button" id="takenBook" value="Взять книгу"
                   data-bookCopyId="{{ bookCopy.id }}">
        {% endif %}
        {% if not existFreeBooks %}
            <p>не свободных книг</p>
        {% endif %}
        {% if isUserHasBooks %}
            <input type="button" class="button" id="returnBook" value="Вернуть книгу"
                   data-issuanceId="{{ issuanceId }}"
            >
        {% endif %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="button" href="{{ path('book_edit', { 'id': bookCopy.id}) }}"><i class="fi-page-edit font-size-24"></i>
            Редактировать</a>
        <form action="{{ url('book_delete', { id: bookCopy.Id }) }}" method="post">
            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
            <button class="button" type="submit"><i class="fi-page-delete font-size-24"></i> Удалить</button>
        </form>
        {#<a class="button" href="{{ path('book_edit', {'id': bookCopy.Id }) }}">Редактировать</a>#}

        {#<form action="{{ url('book_delete', { id: bookCopy.Id }) }}" method="post">#}
        {#<input type="hidden" name="token" value="{{ csrf_token('delete-item') }}" />#}
        {#<button type="submit">Удалить item</button>#}
        {#</form>#}

        {#<button id="deleteBook" data-bookCopyId="{{ bookCopy.Id }}" class="button">Удалить</button>#}
    {% endif %}
{% endif %}
