{#{% for entity in entities %}#}
    {#<span>{{ entity.name }} </span>#}
{#{% endfor %}#}
<p>
    {% if icon is defined %}
        <span class="{{ icon }} fi-left fi-size-18">{{ title }}:</span>
    {% else %}
        {{ title }}
    {% endif %}

    {% if entities|length == 0 %}
        Пока отсутствуют
    {% else %}
        {% for entity in entities %}
            <span> {{ entity.name }}, </span>
        {% endfor %}
    {% endif %}
</p>
