{% extends 'base.html.twig' %}
{% block main %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="small-12 cell">
                {{ include('profile/_breadcrumbs.html.twig', {
                    'path': 'ajax_search',
                    'section': 'Поиск',
                    'entityId': '',
                    'entity': '',
                    'ditailedPage': '',
                    'currentPage': ''
                }) }}
            </div>
            <div class="small-12 cell">

            </div>
        </div>

        <div class="small-12 medium-6 large-4 cell">
            <img src="{{ bookCopy.imagePath }}" alt="book image">
            <h5>
            <a href="{{ path('catalog_show', {'id': bookCopy.id}) }}">{{ bookCopy.book.name }}</a>
            </h5>
            <p>{{ bookCopy.book.description|length > 40 ? bookCopy.book.description|slice(0, 40) ~ '...' : bookCopy.book.description }}</p>
            </div>
    </div>
{% endblock %}