{% extends 'base.html.twig' %}

{% block main %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="small-12 cell">
                {{ include('profile/_breadcrumbs.html.twig', {
                    'path': 'catalog_page',
                    'section': 'Каталог',
                    'entityId': '',
                    'entity': bookCopy,
                    'ditailedPage': bookCopy.book.name,
                    'currentPage': ''}) }}
            </div>
            <div class="large-4 cell">
                <img class="book-image" src="/{{ bookCopy.imagePath }}" alt="">
            </div>
            <div class="large-8 cell">
                {{ include('catalog/_show-book.html.twig') }}
            </div>
            <div class="small-12 cell">
                <h5>Описание:</h5>
                <p>{{ bookCopy.book.description }}</p>
            </div>
            {% if whoHasBooks|length > 0%}
                <div class="small-12 cell">
                    <h5>Кто взял: </h5>
                    <div class="grid-container">
                        <div class="grid-x grid-padding-x grid-padding-y">
                            {% for whoHasBook in whoHasBooks %}
                                <div class="small-6 medium-4 large-3 cell">
                                    <img src="{{ whoHasBook.readerAvatar }}" alt="">
                                    <p>
                                        <a href="{{ path('profile_page', {'id': whoHasBook.readerId }) }}"> {{ whoHasBook.readerName }}</a>
                                    </p>
                                    <p>Освободиться ближе к
                                        <time>{{ whoHasBook.deadlineDate|date("d M Y") }}</time>
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="large-12 cell">
                <h4>Оцените книгу</h4>
            </div>
            <div class="large-12 cell">
                {{ include('catalog/_comment-book.html.twig') }}
            </div>
            <div class="large-12 cell">
                <h4>Отзывы ({{ bookCopy.comments|length }})</h4>
            </div>
            <div class="large-12 cell">
                {{ include('catalog/_comment-show.html.twig', {
                    'profilePage': '',
                    'comments': bookCopy.comments,
                    'nullMessage': 'Станьте первым кто оставит комментарий!'}) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/vendor/jquery.raty.js') }}"></script>

{% endblock %}